# Ignorar archivos y carpetas de Unity
[Dd]ebug/
[Dd]eveloperBuild/
[Dd]ist/
[Dd]ata/

# Ignorar la carpeta Library (contiene archivos de caché y compilación)
[Ll]ibrary/

# Ignorar los archivos temporales generados por Unity
[Tt]emp/

# Ignorar archivos de compilación y configuración
.obj/
.obj/
*.csproj
*.sln
*.user
*.userprefs
*.pidb
*.booproj
*.swp
.vscode/

# Ignorar archivos de log
*.log

# Ignorar archivos generados por el sistema operativo
.DS_Store
Thumbs.db

# Ignorar configuración de editor de Unity (si no deseas compartirla)
*.pidb.meta
